{% extends "base.html" %}

{% block title %}
    Dissertations per cluster
{% endblock %}

{% block content %}

    {% if object_list %}
    <ul>
        {% for d in object_list %}
            <li>
                {{ d.id }} - 
                <a href="/diss/{{ d.id }}">
                    {{ d.title }}
                    {{ d.name }}
                    {{ d }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No xxx are available.</p>
    {% endif %}

{% endblock %}